[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
boto3 = "*"
flask-restx = "*"
serverless-wsgi = "*"
flask-sqlalchemy = "*"
requests = "*"
sqlalchemy-utils = "*"

[dev-packages]
pipenv = "*"
autopep8 = "*"
flake8 = "*"
flake8-awesome = "*"
pylint = "*"
isort = "*"
pytest = "*"
pytest-dotenv = "*"
py-event-mocks = "*"
pytest-cov = "*"
pytest-freezegun = "*"

[requires]
python_version = "3.8"
