[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-psycopg2 = "*"
boto3 = "*"
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
requests = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
serverless-wsgi = "*"
werkzeug = "*"

[dev-packages]
autopep8 = "*"
isort = "*"
flake8 = "*"
flake8-awesome = "*"
pipenv = "*"
py-event-mocks = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-dotenv = "*"
pytest-freezegun = "*"

[requires]
python_version = "3.8"
